<h1> Xcape Factory </h1>
    
<p> React | Redux | NodeJS | Express | PostgreSQL | CSS </p>
    
<ul>
    <li> Developed a virtual escape room for remote clients using React, Redux, and PostgresQL </li>
    <li> Simplified backend by incorporating pictures in HTML to create a realistic feel within the gameplay </li>
    <li> Created a simple application structure to allow for future dev and user updates </li>
    <li> Identified and implemented solutions for Redux variable syntax errors using deep dive research methods </li>
</ul>
    
<img src="../../assets/Images/XcapeFactoryExample.png"> 


<button class="back-button"> <a class="link" routerLink="/projects" routerLinkActive="active"> Back </a> </button>
<button class="site-button"> <a class="link" href="http://xcapefactory.xyz/"> Visit Site </a> </button>