<div class="projects-background">

    <h1> My Projects </h1>

    <!-- <select>
        <option> </option>
        <option> <a class="link" (click)="routeToProject('/xcapeFactory')" > XcapeFactory </a> </option>
        <option *ngFor="let project of projects"> <a class="link" (click)="routeToProject(project.path)" > {{ project.name }} </a> </option>
    </select>
    <br> -->

    <!-- <a *ngFor="let project of projects" class="link" routerLink="project.path" > {{ project.name }} </a> -->

    <a class="link" routerLink="/xcapeFactory" routerLinkActive="active"> XcapeFactory </a>
    <br>
    <a class="link" routerLink="/hunch" routerLinkActive="active"> Hunch </a>
    
</div>
