<h1> Hunch </h1>

<p> React | Context | Sockets | SCSS </p>

<ul> 
    <li> Developed a virtual board game replicating Clue to provide zero cost ad free user entertainment  </li>
    <li> Collaborated with a team of four as front end lead using Github Teams and Trello in a remote environment </li>
    <li> Integrated Sockets to allow multiple users to play at the same time </li>
    <li> Implemented close feedback loops to reduce conflicts with large data merges </li>
</ul>

<img src="../../assets/Images/HunchExample.png"> 

<button class="back-button"> <a class="link" routerLink="/projects" routerLinkActive="active"> Back </a> </button>
<button class="site-button"> <a class="link" href="http://143.244.148.34:4242/"> Visit Site </a> </button>