<button> <a class="resume-button" href="../../assets/Downloads/Downloadable-resume.pdf" download="Michael-Graves-Resume.pdf"> Download Resume </a> </button>

<div class="resume">
    <h1> SKILLS </h1>
    <p> Javascript | React | Redux | NodeJs | Express | PostgreSQL | Massive | Bcrypt | CSS | SASS | Git | Github | Postman | pgweb | Heroku | HTML5 |  Axios | Context | Sockets | Python </p>                       
       
    <h1> EDUCATION </h1>
    <p>
        Devmountain | Lehi, UT	Graduated July 2021 <br>
        Certificate in Web Development <br>
        Full Stack Development Bootcamp <br>
        <br>
        Brigham Young University - Idaho | Rexburg, ID	In Progress <br>
        Bachelor’s in Computer Science <br>
        Relevant Courses: Intro to Programming, Programming with Functions, and Intro to JavaScript
    </p>
    
    <h1> PROFESSIONAL EXPERIENCE </h1>
    <p>
        Matt Barnes Construction | Crestwood, KY	 June 2020 - December 2020 <br>
        Construction Worker <br>
        <br>
        Collaborated with a team to efficiently complete renovations and solve problems <br>
        Quickly learned new skills to become more versatile and sought opportunities to improve capabilities <br>
        Developed interpersonal communication skills to effectively communicate with team members and clients 
    </p>
      
    <h1> VOLUNTEER EXPERIENCE </h1> 
    <p>
        Volunteer Representative | Little Rock, AR	December 2017 - January 2020 <br>
        The Church of Jesus Christ of Latter-day Saints <br>
        <br>
        Presented weekly 60 minute lessons to individuals and groups of up to 30 people, relayed information effectively <br>
        Served in leadership positions to train 18 new volunteers and ensured compliance to rules and regulations <br>
        Self-starter, set specific daily goals, maintained productivity, and reported progress to superiors <br>
    </p>                                                                              
</div>